<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Readings - <%= device.name %>
    </title>
</head>

<body>

    <h1>Dữ liệu cảm biến của <%= device.name %> (<%= device.device_uid %>)</h1>

    <table border="1" cellpadding="5">
        <tr>
            <th>Thời gian</th>
            <th>Nhiệt độ (°C)</th>
            <th>Độ ẩm (%)</th>
            <th>Ánh sáng</th>
            <th>Tiếng ồn</th>
        </tr>
        <% readings.forEach(r=> { %>
            <tr>
                <td>
                    <%= r.ts %>
                </td>
                <td>
                    <%= r.temperature %>
                </td>
                <td>
                    <%= r.humidity %>
                </td>
                <td>
                    <%= r.light %>
                </td>
                <td>
                    <%= r.noise %>
                </td>
            </tr>
            <% }) %>
    </table>

    <h2>Biểu đồ</h2>
    <canvas id="chart" width="600" height="300"></canvas>

    <div id="chart-data" data-labels='<%- JSON.stringify(readings.map(r => r.ts)) %>'
        data-temp='<%- JSON.stringify(readings.map(r => r.temperature)) %>'
        data-hum='<%- JSON.stringify(readings.map(r => r.humidity)) %>' data-deviceid='<%= device.id %>'>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/readingsPageScript.js"></script>


    <p><a href="/dashboard">Quay lại Dashboard</a></p>

</body>

</html>